
<h2>Workchoice</h2>
<p>Professionell zusammenarbeiten. Testet uns.</p>
<br />
<div class="center">
  <%= link_to "Anmelden", signup_path, class: "btn btn-lg
                                                  btn-primary" %>
</div>
