
<h2>Workchoice</h2>
<p>Collaboration on a professional level. Try us out.</p>
<br />
<div class="center">
  <%= link_to "Sign up now", signup_path, class: "btn btn-lg
                                                  btn-primary" %>
</div>
