<% provide :title, "Help" %>
<h1>Help</h1>
<p>Security: Site wide SSL encription helps to prevent Session
  hijacking. Your cookie token is not stored in our database in
  clear. It is hashed and can't be restored in case our database is
  hacked. All our sides are protected against XXS (Cross-side-request
  forgery) by Rails internal prevention methods. All potentially
  sensitiv information in your browser cookie is cryptographically signed. </p>
