<% provide :title, "Home" %>
<div>
  Here goes all logins.
</div>
<h1>Workchoice</h1>
<p>Workchoice application. Please log in with facebook or
  linkedin. Or register.</p>

<div>
  here goes the register button.
</div>
