
<div id="fb-root"></div>

<div class="jumbotron">
  <h2>Workchoice</h2>
  <p>Workchoice is ... . We offer enterprise support and
    availability over "Always-on" Heroku server hosted in Europe.
    You can contact us any time with suggestions or critics. Our
    service is free of charge and there will always be an publishing option that
    doesn't cost you a cent. With the option to upgrade to a premium
    scheme. What a premium scheme includes is described in our
    <%= link_to "Help", help_path
    %> pages.
  </p>
  <br />
  <div class="center">
    <%= link_to "Sign up now", signup_path, class: "btn btn-lg
                                                    btn-primary" %>
    <br /><br />
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge"
         data-show-faces="false" data-auto-logout-link="false"></div>
   
    <br /><br />
    <%= link_to image_tag("Sign-in-Large---Active.png",
        alt: "Continue with linkedin"), '/auth/linkedin', id: "continue-with-linkedin"  %>
  </div>
</div>

