
<h1>Passwort zurücksetzen</h1>

<p>
  Bitte klicke auf folgenden Link um dein Passwort zurückzusetzen:
</p>

<%= link_to "Reset password",
    edit_password_reset_url(@user.reset_token, email: @user.email, locale: "en") %>

<p>Der Link ist zwei Stunden gültig.</p>

<p>
  Wenn du diese Passwortänderung nicht möchtest, tue bitte nichts und
  dein Passwort bleibt so wie es ist.
</p>
