
<div style="float: right; padding-top: 15px; padding-left: 10px;
  padding-right: 10px;">
  <%= link_to(image_tag("Sign-In-Small---Active.png", alt:
      t(:login_with_linkedin), height: '30'), '/auth/linkedin',
      id: "continue-with-linkedin")  %>
 
</div>
<!--
<div style="float: right; padding-top: 15px; padding-left: 10px;">
  <%= link_to(t(:login_with_xing), '/auth/xing', id:
      "continue-with-xing") %>
  
</div>
-->
