<footer class="footer">
  <small>
    Workchoice by B2B Xchange
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about_link), about_path %></li>
      <li><%= link_to t(:contact_link), contact_path %></li>
      <li><%= link_to t(:tac_link), tac_path %></li>
      <li><%= link_to t(:help_link), help_path %></li>
    </ul>
  </nav>
</footer>
